<nav class="flex flex-row p-5">
  <div class="pt-5 w-full">
    <input
      class="text-slate-700 rounded-lg border-2 border-slate-200 p-2 w-full focus:outline-none placeholder-slate-400 hover:border-sky-200 focus:border-sky-400 focus:ring focus:ring-sky-200"
      id="directory"
      name="directory"
      placeholder="Search by Name or Company"
      [formControl]="searchFormControl"
    />
  </div>

  <button class="pt-5 pl-5">
    <fa-icon [icon]="faFilter" class="fa-lg icon"></fa-icon>
  </button>
  <!-- Dropdown menu -->
</nav>
