<app-nav-menu (searchTextChanged)="onSearchTextEntered($event)"></app-nav-menu>
<div class="container add-User">
  <div class="flex flex-row">
    <div class="header">DIRECTORY</div>
    <button>
      <a [routerLink]="['/new']"
        ><fa-icon [icon]="faUserPlus" class="fa-lg icon"></fa-icon
      ></a>
    </button>
  </div>
  <table class="m-auto">
    <thead>
      <tr class="border-b-2 border-teal-800">
        <th class="p-2 text-center" (click)="onclick('firstName')">
          First Name
          <ng-container
            [ngTemplateOutlet]="arrows"
            [ngTemplateOutletContext]="{ propertyName: 'firstName' }"
          ></ng-container>
        </th>
        <th class="p-2 text-center" (click)="onclick('lastName')">
          Last Name
          <ng-container
            [ngTemplateOutlet]="arrows"
            [ngTemplateOutletContext]="{ propertyName: 'lastName' }"
          ></ng-container>
        </th>
        <th class="p-2 text-center" (click)="onclick('addresses.0.city')">
          City
          <ng-container
            [ngTemplateOutlet]="arrows"
            [ngTemplateOutletContext]="{ propertyName: 'addresses.0.city' }"
          ></ng-container>
        </th>
        <th class="p-2 text-center">State</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let contact of contactsList; index as i"
        class="border-b-2 border-teal-800"
      >
        <ng-container
          *ngIf="
            searchText === '' ||
            contact.firstName.toLowerCase().includes(searchText)
          "
        >
          <td class="p-2 text-center">{{ contact.firstName }}</td>
          <td class="p-2 text-center">{{ contact.lastName }}</td>
          <td class="p-2 text-center">{{ contact.addresses[0]?.city }}</td>
          <td class="p-2 text-center">{{ contact.addresses[0]?.state }}</td>

          <td>
            <button
              class="bg-teal-500 hover:bg-teal-700 text-white py-2 px-3 rounded-full"
            >
              <a [routerLink]="['/details', contact.id]">Detail</a>
            </button>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

<!-- ng-template stays outside of body  -->
<ng-template #arrows let-propertyName="propertyName">
  <ng-container
    [ngTemplateOutlet]="
      sortDirection.getValue() === sortDirectionEnum.Ascending &&
      sortedPropertyName.getValue() === propertyName
        ? up
        : sortDirection.getValue() === sortDirectionEnum.Descending &&
          sortedPropertyName.getValue() === propertyName
        ? down
        : default
    "
  ></ng-container
></ng-template>
<ng-template #down><fa-icon [icon]="faArrowDown"></fa-icon></ng-template>
<ng-template #up><fa-icon [icon]="faArrowUp"></fa-icon></ng-template>
<ng-template #default></ng-template>
