<!-- shows the entire list of contacts? -->

<table class="m-auto w-full table-fixed text-white">
  <thead>
    <tr class="border-b-2 border-slate-300">
      <th class="p-2 text-center">First Name</th>
      <th class="p-2 text-center">Last Name</th>
      <th class="p-2 text-center">Address</th>
      <th class="p-2 text-center">City</th>
      <th class="p-2 text-center">State</th>
      <th class="p-2 text-center">Zipcode</th>
      <th class="p-2 text-center">Email</th>
      <th class="p-2 text-center">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let contact of contactsList; index as i"
      class="border-b-2 border-slate-300"
    >
      <td class="p-2 text-center">{{ contact.firstName }}</td>
      <td class="p-2 text-center">{{ contact.lastName }}</td>
      <td class="p-2 text-center">{{ contact.address }}</td>
      <td class="p-2 text-center">{{ contact.city }}</td>
      <td class="p-2 text-center">{{ contact.state }}</td>
      <td class="p-2 text-center">{{ contact.zipcode }}</td>
      <td class="p-2 text-center">{{ contact.email }}</td>
      <td class="p-2 text-center">{{ contact.phone }}</td>
      <button class="p-2 text-center">
        <fa-icon [icon]="faPencil"></fa-icon>
      </button>
      <button class="p-2 text-center">
        <fa-icon [icon]="faSave"></fa-icon>
      </button>
      <button class="p-2 text-center">
        <fa-icon [icon]="faTrashCan" (click)="onDelete(contact)"></fa-icon>
      </button>
    </tr>
  </tbody>
</table>
