@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: none;
}
.error-red {
  color: rgb(255, 64, 64);
  font-weight: bold;
}

.icon {
  color: #115e59;
}
.icon:hover {
  color: #14b8a6;
}

.trash-icon {
  color: #115e59;
}
.trash-icon:hover {
  color: red;
}
