@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: none;
}

.sq-plus {
  color: #38bdf8;
}
.sq-plus:hover {
  color: #0284c7;
}

.trash-icon {
  color: #ef4444;
}
.trash-icon:hover {
  color: #b91c1c;
}

.error-msg {
  color: #ef4444;
}

.file-input {
  display: none;
}

.image-card {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
  padding: 8px;
}
