<div class="container">
  <button class="p-2 text-center">
    <a [routerLink]="['/home']"
      ><fa-icon [icon]="faArrowLeft" class="icon fa-lg"></fa-icon
    ></a>
  </button>
  <form
    class="px-10 m-auto text-teal-800 font-semibold"
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <div
        *ngIf="contactForm.errors?.isDuplicatedContact"
        class="bg-red-500 border-l-4 text-white p-4"
        role="alert"
      >
        <p class="font-bold">Warning</p>
        <p>Name is already registered. Check the data again.</p>
      </div>
      <h1 class="header">
        {{
          editMode == true ? "UPDATE AN EXISTING CONTACT" : "ADD A NEW CONTACT"
        }}
      </h1>
    </div>
    <div class="flex flex-col">
      <label for="firstname" class="subHeader">First Name</label>
      <input
        type="text"
        id="firstname"
        [formControl]="contactForm.get('firstName') | asFormControl"
      />
      <small
        *ngIf="
          contactForm.get('firstName')?.errors?.required &&
          contactForm.get('firstName')?.dirty
        "
        class="error-red"
      >
        First name is required.
      </small>
      <small
        *ngIf="
          contactForm.get('firstName')?.errors?.pattern &&
          contactForm.get('firstName')?.dirty
        "
        class="error-red"
      >
        First name cannot have a space.
      </small>
    </div>
    <div class="flex flex-col">
      <div class="subHeader">Last Name</div>
      <input
        type="text"
        id="lastname"
        [formControl]="contactForm.get('lastName') | asFormControl"
      />
      <small
        *ngIf="
          contactForm.get('lastName')?.errors?.required &&
          contactForm.get('lastName')?.dirty
        "
        class="error-red"
      >
        Last name is required.
      </small>
      <small
        *ngIf="
          contactForm.get('lastName')?.errors?.pattern &&
          contactForm.get('lastName')?.dirty
        "
        class="error-red"
      >
        Last name cannot have a space.
      </small>
    </div>
    <div class="flex flex-col">
      <div class="subHeader">Company</div>
      <input
        type="text"
        id="lastname"
        [formControl]="contactForm.get('company') | asFormControl"
      />
    </div>
    <div>
      <h2 class="subHeader">Address</h2>
      <div class="flex-wrap"></div>

      <div class="flex flex-col">
        <div
          *ngFor="let group of contactForm.get('addresses') | asFormGroupArray"
        >
          <div class="pt-2 pb-1">Street Address</div>
          <input
            class="w-5/6"
            type="text"
            id="address"
            [formControl]="group.get('streetAddress') | asFormControl"
          />

          <div class="flex flex-row space-x-4 justify-between">
            <div class="flex flex-col w-3/6">
              <div class="pt-2 pb-1">City</div>
              <input
                type="text"
                id="city"
                [formControl]="group.get('city') | asFormControl"
              />
            </div>
            <div class="flex flex-col w-1/6">
              <div class="pt-2 pb-1">State</div>
              <select
                class="form-control"
                [formControl]="group.get('state') | asFormControl"
                [value]="states"
              >
                <option value="undefined"></option>
                <option *ngFor="let state of states">
                  {{ state }}
                </option>
              </select>
            </div>
            <div class="flex flex-col w-1/6">
              <div class="pt-2 pb-1">Zipcode</div>
              <input
                type="text"
                id="zipcode"
                [formControl]="group.get('zipcode') | asFormControl"
              />
              <small
                *ngIf="
                  (group.get('zipcode')?.errors?.maxlength ||
                    group.get('zipcode')?.errors?.required ||
                    group.get('zipcode')?.errors?.pattern) &&
                  group.get('zipcode')?.dirty
                "
                class="error-red"
              >
                Zipcode must be 5-digit numbers (ex 12345)
              </small>
            </div>
          </div>
        </div>
        <div>
          <button type="button" (click)="addAddress()">+ Add Address</button>
        </div>
      </div>
    </div>

    <div>
      <div class="subHeader">Email</div>
      <div
        *ngFor="
          let group of contactForm.get('emailAddresses') | asFormGroupArray;
          first as isFirst
        "
        class="py-1"
      >
        <input
          type="text"
          id="email"
          [formControl]="group.get('emailAddress') | asFormControl"
          class="w-4/5"
        />

        <small
          *ngIf="
            group.get('emailAddress')?.errors?.email &&
            group.get('emailAddress')?.dirty
          "
          class="error-red"
        >
          Enter a valid email address with @domainname
        </small>
        <fa-icon
          [icon]="faTrashCan"
          class="trash-icon pl-3"
          (click)="deleteEmail(addEmailAddress)"
          *ngIf="!isFirst"
        ></fa-icon>
      </div>

      <button type="button" (click)="addEmailAddress()">+ Add Email</button>

      <div class="subHeader">Phone</div>
      <div
        *ngFor="
          let group of contactForm.get('phoneNumbers') | asFormGroupArray;
          first as isFirst
        "
        class="py-1"
      >
        <input
          type="tel"
          id="phone"
          [formControl]="group.get('phoneNumber') | asFormControl"
          class="w-4/5"
        />
        <fa-icon
          [icon]="faTrashCan"
          class="trash-icon pl-3"
          (click)="deletePhoneNumber(addPhoneNumber)"
          *ngIf="!isFirst"
        ></fa-icon>
        <!-- Error if phoneNumber has non-numerical value  -->
        <div>
          <small
            *ngIf="
              group.get('phoneNumber')?.errors?.pattern &&
              group.get('phoneNumber')?.dirty
            "
            class="error-red"
          >
            Numeric Value only. Minimum length 10. (ex.1234567890)
          </small>
          <div>
            <small
              *ngIf="
                group.get('phoneNumber')?.errors?.required &&
                group.get('phoneNumber')?.dirty
              "
              class="error-red"
            >
              Phone number is required
            </small>
          </div>
        </div>
      </div>
      <button type="button" (click)="addPhoneNumber()">+ Add Phone</button>
      <div class="flex flex-row justify-between pt-10">
        <button
          type="submit"
          class="w-20 font-semibold rounded-lg bg-emerald-500 text-zinc-100 p-2"
        >
          {{ editMode == true ? "Update" : "Submit" }}
        </button>
        <button
          class="w-20 font-semibold rounded-lg bg-rose-500 p-2 text-zinc-100"
          type="reset"
        >
          Clear
        </button>
      </div>
    </div>
  </form>
</div>
