<nav class="bg-slate-500 h-screen">
  <div class="w-12 flex flex-col h-screen">
    <ul class="p-3">
      <li class="pb-3">
        <a routerLink="./">
          <fa-icon
            [icon]="faHouse"
            class="fa-lg"
            style="color: #f1f5f9"
          ></fa-icon>
        </a>
      </li>
      <li class="pb-3">
        <a routerLink="./new">
          <fa-icon
            [icon]="faUserPlus"
            class="fa-lg"
            style="color: #f1f5f9"
          ></fa-icon>
        </a>
      </li>
      <li class="pb-3">
        <a routerLink="./detaildefault">
          <fa-icon
            [icon]="faList"
            class="fa-lg"
            style="color: #f1f5f9"
          ></fa-icon>
        </a>
      </li>
      <li class="pb-3">
        <fa-icon
          [icon]="faGears"
          class="fa-lg"
          style="color: #f1f5f9"
        ></fa-icon>
      </li>
      <li class="pb-3">
        <fa-icon [icon]="faMoon" class="fa-lg" style="color: #f1f5f9"></fa-icon>
      </li>
      <li class="pb-3">
        <fa-icon [icon]="faSun" class="fa-lg" style="color: #f1f5f9"></fa-icon>
      </li>
    </ul>
  </div>
</nav>
