@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: block;
  font-size: 30px;
  color: #115e59;
  font-weight: bold;
  text-align: left;
}

.subHeader {
  margin: 0;
  display: block;
  font-size: 20px;
  color: #115e59;
  font-weight: 400;
  text-align: left;
}

.column-header {
  font-size: 20px;
  padding-top: 20px;
  color: #115e59;
}

.item-column {
  width: 40%;
  color: #115e59;
}

.per-item {
  padding: 5px;
  font-weight: 400;
}

.icon {
  color: #115e59;
}

.icon:hover {
  color: #14b8a6;
}

button:disabled {
  background-color: red;
}
