@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 75%;
  padding: 20px;
  margin: 0 auto;
  font-weight: bold;
}

.header {
  margin: 0 auto;
  display: block;
  font-size: 30px;
  color: #115e59;
  font-weight: bold;
  text-align: left;
}

.subHeader {
  margin: 0 auto;
  display: block;
  font-size: 20px;
  color: #115e59;
  font-weight: 400;
  text-align: left;
}

.subHeading {
  font-size: 20px;
  padding-top: 20px;
  color: #115e59;
}

.item-column {
  width: 40%;
  color: #115e59;
}

.per-item {
  padding: 5px;
  font-weight: 400;
}

.icon {
  color: #115e59;
}
.icon:hover {
  color: #14b8a6;
}
