<header>
  <nav
    class="nav flex items-center justify-center flex-wrap bg-teal-800 text-zinc-100"
  >
    <form class="flex flex-row">
      <div class="px-3 searchBar">
        <input
          class="px-3 rounded-full"
          type="text"
          id="directory"
          name="directory"
          placeholder="Search Directory..."
        />
      </div>
      <button
        class="bg-teal-500 hover:bg-teal-700 text-white py-2 px-3 rounded-full"
      >
        Search
      </button>
    </form>
  </nav>
</header>
